<h1>Facebook Graph API test</h1>

<p>
Enter the access token here:
<textarea id="accesstoken" rows="4" cols="50"></textarea>
</p>

<input type="submit" value="Logout"></input>
<hr>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      var accessToken = response.authResponse.accessToken;
      testAPI(accessToken);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1095470740540473',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI(accessToken) {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!'+JSON.stringify(response);
    });

    //var pageAccessToken = 'EAAPkUyhaDDkBAJP2nXegWgieTSeB1MRAFNFwqrWgMwZA7mZCpoKeRdTdrcZAoFZBZB0GQ7mQRIv5o3JlQGBUWSUKeY9TtX2FbON1FvZAVqnidjRvzFLziBzdLmayCs0ZCouVbulbSAMOYbSaFki7R0V0rNsEENLmuDB2q1K4XulIgZDZD';
    FB.getAuthResponse();
    FB.api(
      '/me',
      'GET',
      {"fields":"id,email,name,gender,likes.limit(5000)",
        access_token : accessToken},
      function(response) {
          var likes;
          //document.getElementById('graph').innerHTML = "Graph data " + JSON.stringify(response);
          if(response.likes){
            likes = response.likes;
            delete response.likes;

            console.log(likes.data);

           for(var i=0; i<likes.data.length; i++){
              likes.data[i].user_email = response.email;
              io.socket.post('/likes', likes.data[i], function (resData, jwres) {
                //jwRes.statusCode; // => 200
              });
            }
          }

          if(response.id){
            response.fb_id = response.id;
            delete response.id;
          }

          if(response.name){
            response.fb_name = response.name;
            delete response.name;
          }

          document.getElementById('graph').innerHTML = "Graph data " + JSON.stringify(response);
          io.socket.post('/user', response, function (resData, jwres) {
            //jwRes.statusCode; // => 200
          });
      }
    );
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
<div id="graph">
</div>
