<h1>Aveek's Sails APP</h1>

<form class="pure-form" action="/user/create" method="post">
    <fieldset>
        <legend>Add new user</legend>

        <input type="name" placeholder="Name" name="name">
        <input type="email" placeholder="Email" name="email">

        <button type="submit" class="pure-button pure-button-primary">Add</button>
    </fieldset>
</form>
