<!DOCTYPE html>
<html>
  <head>
    <!-- <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   cno31ufqrp03
        onLoad:    onLinkedInLoad
        authorize: true
    </script> -->

    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/base-context-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/base-context.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/base-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/base.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/buttons-core-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/buttons-core.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/buttons-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/buttons.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/forms-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/forms-nr-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/forms-nr.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/forms.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-core-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-core.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-responsive-old-ie.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-responsive.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-units-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids-units.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/grids.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-core-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-core.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-dropdown-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-dropdown.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-horizontal-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-horizontal.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-scrollable-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-scrollable.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-skin-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus-skin.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/menus.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/pure-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/pure-nr-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/pure-nr.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/pure.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/tables-min.css">
    <link rel="stylesheet" href="/styles/pure-release-0.6.0/tables.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
