<h1>This is the Linked in page</h1>

<a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=cno31ufqrp03&redirect_uri=http://localhost:1337/linkedin/success&state=987654321&scope=r_basicprofile%20r_emailaddress">Log in with linkedin</a>
<script type="in/Login"></script>

Access Token = <%= sails.config.appsettings.linkedin_access_token %>
